/*@charset "UTF-8";*/
/*
limechat.Vicuna
ver.0.8
http://3ping.org/2009/08/01/0208
modified by @DNPP/@dnpp73/Yusuke SUGAMIYA

*/
/* Anim */
@-webkit-keyframes urlexpansion {
  0% {
    -webkit-transform: scale(0.9);
  }
  10% {
    -webkit-transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(0.927);
  }
  30% {
    -webkit-transform: scale(1.051);
  }
  40% {
    -webkit-transform: scale(0.965);
  }
  50% {
    -webkit-transform: scale(1.021);
  }
  60% {
    -webkit-transform: scale(0.987);
  }
  70% {
    -webkit-transform: scale(1.0027);
  }
  80% {
    -webkit-transform: scale(0.9992);
  }
  90% {
    -webkit-transform: scale(1.0006);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes pop {
  0% {
    -webkit-transform: translatey(50%);
  }
  100% {
    -webkit-transform: translatey(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: scale(0.9);
  }
  33% {
    -webkit-transform: rotate(2deg);
    background-color: #A276ED;
  }
  66% {
    -webkit-transform: rotate(-2deg);
    background-color: #A276ED;
  }
  100% {
    background-color: #dddbf3;
  }
}
@-webkit-keyframes quit {
  0% {
    background-color: #dc322f;
  }
  100% {
    background-color: #eec5be;
  }
}
@-webkit-keyframes join {
  0% {
    background-color: #B3D1F5;
    -webkit-transform: perspective(800) scale(0.9) rotatey(90deg);
  }
  50% {
    background-color: #003ef5;
    -webkit-transform: perspective(800) scale(0.9) rotatey(0deg);
  }
  100% {
    background-color: #B3D1F5;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes call {
  0% {
    -webkit-transform: scale(0.9);
  }
  10% {
    -webkit-transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(0.927);
  }
  30% {
    -webkit-transform: scale(1.051);
  }
  40% {
    -webkit-transform: scale(0.965);
  }
  50% {
    -webkit-transform: scale(1.021);
  }
  60% {
    -webkit-transform: scale(0.987);
  }
  70% {
    -webkit-transform: scale(1.0027);
  }
  80% {
    -webkit-transform: scale(0.9992);
  }
  90% {
    -webkit-transform: scale(1.0006);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
html {
  margin: 0;
  padding-bottom: 0;
}
body {
  margin: 0 3px;
}
div,
span {
  -webkit-box-sizing: border-box;
}
/*---------------------------------

  Line

----------------------------------*/
.line {
  border-width: 0px;
  clear: left;
  margin: 4px -6px;
  padding-right: 0;
  position: relative;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
}
/*--------------------
  エンター押した時のアニメ
---------------------*/
/*--------------------
  通常行
---------------------*/
/*時間*/
.time {
  display: inline-block;
  position: absolute;
  right: 1px;
  text-align: right;
  width: 45px;
}
.text .time {
  padding: 1px 4px;
  top: 6px;
}
/*--------------------
  偶数・奇数行
---------------------*/
/*---------------------------------

  Inline Image

----------------------------------*/
.inlineimage {
  display: inline;
  margin-top: 3px 5px;
  max-height: 24px;
  max-width: 700px;
  position: relative;
}
.inlineimage:hover {
  max-height: 9999px;
  max-width: 700px;
}
/*---------------------------------

  Sender (名前)

----------------------------------*/
.sender {
  clear: left;
  float: left;
  padding-top: 4px;
  text-align: right;
  width: 96px;
  vertical-align: middle;
}
.sender[first=false] {
  display: none;
}
.sender[first=false] + .message {
  margin-top: -12px;
}
/*---------------------------------

  Avatar

----------------------------------*/
.avatar {
  display: block;
  left: 5px;
  max-height: 32px;
  max-width: 32px;
  position: absolute;
  top: 6px;
}
/*---------------------------------

  Message

----------------------------------*/
.message {
  display: block;
  margin-left: 98px;
  padding: 4px 45px 4px 8px;
  vertical-align: middle;
}
/*--------------------
  Class
---------------------*/
.url {
  display: inline-block;
  word-break: break-all;
}
.text .place {
  clear: left;
  float: left;
  overflow: hidden;
  position: static;
  text-align: right;
  text-overflow: ellipsize;
  vertical-align: middle;
  white-space: nowrap;
  width: 96px;
}
/*---------------------------------

  Events

----------------------------------*/
.event {
  border-width: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 2px 45px 2px 104px;
  -webkit-border-radius: 2px;
}
.event .time {
  padding: 0 4px 0 0;
  top: 5px;
}
.event .place {
  display: inline;
  padding: 4px 0;
  vertical-align: middle;
}
.event .message {
  display: inline;
  margin-left: 0;
  padding-bottom: 0;
  padding-top: 0;
}
body[type=console] .event[type] .message,
body[type=server] .event[type] .message {
  padding-left: 0;
}
.text + .event {
  border-top-width: 1px;
}
/*---------------------------------

  Event Level 2

----------------------------------*/
/*-------------------- 
  Join
---------------------*/
/*--------------------
  Quite and Part
---------------------*/
/*--------------------
  Nick
---------------------*/
/*---------------------------------

  Event Level 1

----------------------------------*/
/*-------------------- 
  System
---------------------*/
/* Topic change */
/* reply */
/* System */
/* Error */
/* Reply */
/* Send */
/* Notice Quit */
.line[type=notice] + .line[type="notice"] {
  position: relative;
}
/* Action */
/* Kick Kill */
/* Nick */
/* Mode */
/* Send */
/*---------------------------------

  Highlight

----------------------------------*/
/*---------------------------------

  Console

----------------------------------*/
body[type="console"] .event[type],
body[type="server"] .event[type] {
  -webkit-border-radius: 0px;
  -webkit-animation-name: none;
}
body[type="console"] .event[type]:before,
body[type="server"] .event[type]:before {
  border-bottom: 1px solid;
  height: auto;
  -webkit-border-radius: 0px;
}
body[type="server"] .event {
  padding-left: 8px;
}
.console .line[highlight="true"] {
  -webkit-animation-name: none;
}
.console .text {
  vertical-align: middle;
}
.console .sender {
  line-height: 1;
  padding-top: 0;
  position: static;
  vertical-align: middle;
}
body {
  font-family: 'Lucida Grande';
  font-size: 12px;
}
.line {
  line-height: 1.7;
}
.time {
  font-size: 9px;
}
.place {
  font-size: 10.08px;
}
.sender {
  line-height: 1.4;
  font-size: 10.08px;
}
.url {
  text-decoration: none;
}
.url:hover {
  text-decoration: underline;
}
.address {
  text-decoration: none;
  word-break: break-all;
}
.event {
  font-size: 10.32px;
}
.highlight {
  font-weight: normal;
}
.line[highlight="true"] .sender {
  font-weight: bold;
}
html {
  background-color: #eee8d5;
  color: #657b83;
}
a {
  color: #268bd2;
}
.line {
  border-color: #eee8d5;
}
.time {
  color: #93a1a1;
}
.inlineimage {
  -webkit-box-shadow: 1px 1px 2px #93a1a1;
}
.inlineimage:hover {
  -webkit-box-shadow: 3px 3px 4px #93a1a1;
}
.sender[type=myself] {
  color: #6c71c4;
}
.sender[type=normal] {
  color: #657b83;
}
.avatar {
  -webkit-box-shadow: 1px 1px 3px #93a1a1;
}
.message {
  background-color: #fdf6e3;
}
.url {
  color: #268bd2;
}
.url:hover {
  color: #d33682;
}
.place {
  color: #839496;
}
.text .message {
  -webkit-box-shadow: 1px 1px 0px rgba(147, 161, 161, 0.4);
}
.text .time {
  background-color: #fdf6e3;
}
.event[type] {
  background-color: #eee8d5;
  text-shadow: -1px -1px 0 rgba(253, 246, 227, 0.8);
}
.event[type][type="join"] .address {
  color: rgba(131, 148, 150, 0.7);
}
.event[type]:before {
  background-color: rgba(147, 161, 161, 0.1);
  background-image: url(vicutake-solarized/static/images/or_aqua1.png);
}
.event[type] .message {
  background-color: #eee8d5;
  color: #93a1a1;
}
.event[type] .message[type=system] {
  color: #2aa198;
}
.event[type] .message[type=error] {
  color: #dc322f;
  font-weight: bold;
}
.event[type] .message[type=reply] {
  color: #2aa198;
}
.event[type] .message[type=error_reply] {
  color: #dc322f;
}
.event[type] .message[type=dcc_send_send] {
  color: #2aa198;
}
.event[type] .message[type=dcc_send_receive] {
  color: #2aa198;
}
.event[type] .message[type=notice] {
  color: #657b83;
}
.event[type] .message[type=action] {
  color: #2aa198;
}
.event[type] .message[type=debug_send] {
  color: #93a1a1;
}
.event[type] .message[type=debug_receive] {
  color: #93a1a1;
}
.event[type] .url {
  color: rgba(88, 110, 117, 0.8);
}
.event[type] .url:hover {
  color: rgba(88, 110, 117, 0.8);
}
body[type=console] .event[type],
body[type=server] .event[type] {
  background-image: none;
  border-color: rgba(147, 161, 161, 0.2) rgba(147, 161, 161, 0.3) rgba(147, 161, 161, 0.3) rgba(147, 161, 161, 0.3);
}
.highlight {
  color: #d33682;
}
.line[highlight=true] {
  background-color: #eee8d5;
}
.line[highlight=true][alternate="even"] {
  border-color: #93a1a1;
}
.line[highlight=true] .sender {
  color: #d33682;
}
