/*@charset "UTF-8";*/
/*
limechat.Vicuna
ver.0.8
http://3ping.org/2009/08/01/0208
modified by @DNPP/@dnpp73/Yusuke SUGAMIYA

*/
/* Anim */
@-webkit-keyframes urlexpansion {
  0% {
    -webkit-transform: scale(0.9);
  }
  10% {
    -webkit-transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(0.927);
  }
  30% {
    -webkit-transform: scale(1.051);
  }
  40% {
    -webkit-transform: scale(0.965);
  }
  50% {
    -webkit-transform: scale(1.021);
  }
  60% {
    -webkit-transform: scale(0.987);
  }
  70% {
    -webkit-transform: scale(1.0027);
  }
  80% {
    -webkit-transform: scale(0.9992);
  }
  90% {
    -webkit-transform: scale(1.0006);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes pop {
  0% {
    -webkit-transform: translatey(50%);
  }
  100% {
    -webkit-transform: translatey(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: scale(0.9);
  }
  33% {
    -webkit-transform: rotate(2deg);
    background-color: #A276ED;
  }
  66% {
    -webkit-transform: rotate(-2deg);
    background-color: #A276ED;
  }
  100% {
    background-color: #dddbf3;
  }
}
@-webkit-keyframes quit {
  0% {
    background-color: #dc322f;
  }
  100% {
    background-color: #eec5be;
  }
}
@-webkit-keyframes join {
  0% {
    background-color: #B3D1F5;
    -webkit-transform: perspective(800) scale(0.9) rotatey(90deg);
  }
  50% {
    background-color: #003ef5;
    -webkit-transform: perspective(800) scale(0.9) rotatey(0deg);
  }
  100% {
    background-color: #B3D1F5;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes call {
  0% {
    -webkit-transform: scale(0.9);
  }
  10% {
    -webkit-transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(0.927);
  }
  30% {
    -webkit-transform: scale(1.051);
  }
  40% {
    -webkit-transform: scale(0.965);
  }
  50% {
    -webkit-transform: scale(1.021);
  }
  60% {
    -webkit-transform: scale(0.987);
  }
  70% {
    -webkit-transform: scale(1.0027);
  }
  80% {
    -webkit-transform: scale(0.9992);
  }
  90% {
    -webkit-transform: scale(1.0006);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
html {
  margin: 0;
  padding-bottom: 0;
}
body {
  margin: 0 3px;
}
div,
span {
  -webkit-box-sizing: border-box;
}
/*---------------------------------

  Line

----------------------------------*/
.line {
  border: 0px solid;
  /*  margin: 0px -6px;*/

  position: relative;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
}
/*--------------------
  通常行
---------------------*/
/*時間*/
.text .time {
  display: inline-block;
  padding: 1px 2px;
  position: absolute;
  right: 1px;
  top: 6px;
}
/*--------------------
  偶数・奇数行
---------------------*/
/*---------------------------------

  Inline Image

----------------------------------*/
.inlineimage {
  display: inline;
  margin-top: 3px 5px;
  max-height: 24px;
  max-width: 700px;
  position: relative;
}
.inlineimage:hover {
  max-height: 9999px;
  max-width: 700px;
}
/*--------------------
  エンター押した時のアニメ
---------------------*/
/*---------------------------------

  Sender (名前)

----------------------------------*/
.sender {
  display: inline;
  padding: 3px;
  vertical-align: middle;
}
div[type="prvmsg"] .sender {
  display: block;
}
div[type="notice"] .sender {
  display: inline-block;
}
/*--------------------
  発言順
---------------------*/
/*---------------------------------

  Avatar

----------------------------------*/
.avatar {
  display: block;
  left: 5px;
  max-height: 32px;
  max-width: 32px;
  position: absolute;
  top: 6px;
}
/*---------------------------------

  Message

----------------------------------*/
.message {
  display: block;
  padding-left: 8px;
  padding-right: 6px;
  vertical-align: middle;
}
.message[type="notice"] {
  display: inline;
  padding-left: 4px;
  padding-right: 4px;
}
/*--------------------
  Class
---------------------*/
.url {
  display: inline-block;
  word-break: break-all;
}
.place {
  display: inline-block;
  position: static;
  vertical-align: middle;
}
/*---------------------------------

  Events

----------------------------------*/
.event {
  border-style: solid;
  border-width: 1px;
  min-height: 25px;
  padding: 4px 4em 4px 33px;
  -webkit-border-radius: 2px;
}
.event:before {
  content: url(vicutake-solarized/static/famfamfam/cog.png);
  height: 100%;
  left: 0;
  padding: 5px 4px 2px;
  position: absolute;
  top: -1px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
}
.event .time {
  display: inline-block;
  padding: 2px 4px 2px 6px;
  position: absolute;
  right: 1px;
  top: 5px;
}
.event .place {
  margin-right: 5px;
  padding: 1px;
}
/*---------------------------------

  Event Icon

----------------------------------*/
.event[type="system"]:before {
  content: url(vicutake-solarized/static/famfamfam/rainbow.png);
}
.event[type="join"]:before {
  content: url(vicutake-solarized/static/famfamfam/lightbulb.png);
}
.event[type="part"]:before,
.event[type="quit"]:before {
  content: url(vicutake-solarized/static/famfamfam/lightbulb_off.png);
}
.event[type="nick"]:before {
  content: url(vicutake-solarized/static/famfamfam/pencil2.png);
}
.event[type="mode"]:before {
  content: url(vicutake-solarized/static/famfamfam/cup.png);
}
.event[type="topic"]:before {
  content: url(vicutake-solarized/static/famfamfam/bell.png);
}
/*---------------------------------

  Event Level 2

----------------------------------*/
/*-------------------- 
  Join
---------------------*/
/*--------------------
  Quite and Part
---------------------*/
/*--------------------
  Nick
---------------------*/
/*---------------------------------

  Event Level 1

----------------------------------*/
/*-------------------- 
  System
---------------------*/
/* Topic change */
/* reply */
/* System */
/* Error */
/* Reply */
/* Send */
/* Notice Quit */
.line[type=notice] + .line[type="notice"] {
  position: relative;
}
/* Action */
/* Kick Kill */
/* Nick */
/* Mode */
/* Send */
/*---------------------------------

  Highlight

----------------------------------*/
.line[highlight="true"] .sender {
  display: inline-block;
  margin-bottom: -1px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: -1px;
  padding-bottom: -1px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: -1px;
  -webkit-border-radius: 3px;
  -webkit-animation-name: call;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 3;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}
/*---------------------------------

  Console

----------------------------------*/
body[type="console"] .event[type],
body[type="server"] .event[type] {
  -webkit-border-radius: 0px;
  -webkit-animation-name: none;
}
body[type="console"] .event[type]:before,
body[type="server"] .event[type]:before {
  border-bottom: 1px solid;
  height: auto;
  -webkit-border-radius: 0px;
}
.console .line[highlight="true"] {
  -webkit-animation-name: none;
}
.console .text {
  padding-left: 5px;
  vertical-align: middle;
}
.console .sender {
  position: static;
  vertical-align: middle;
}
body {
  font-family: 'Lucida Grande';
  font-size: 9.3pt;
}
.line {
  line-height: 1.7;
}
.time {
  font-size: 7.2pt;
}
div[type="prvmsg"] .sender {
  font-size: 8pt;
}
div[type="notice"] .sender {
  font-size: 7.8pt;
}
.message[type="notice"] {
  font-size: 8.8pt;
}
.url {
  text-decoration: none;
}
.url:hover {
  text-decoration: underline;
}
.place {
  font-size: 7pt;
}
.address {
  text-decoration: none;
  word-break: break-all;
}
.event {
  font-size: 8pt;
}
.event .time {
  font-size: 7pt;
}
.event[type="join"] .message,
.event[type="part"] .message,
.event[type="quit"] .message {
  font-size: 8pt;
}
.highlight {
  font-weight: normal;
}
.line[highlight="true"] .sender {
  font-weight: bold;
}
.console .text {
  font-size: 9pt;
}
.console .sender {
  font-size: 8pt;
}
html {
  background-color: #fdf6e3;
  color: #657b83;
}
body {
  background-image: url(vicutake-solarized/static/images/bg.png);
}
a {
  color: #268bd2;
}
.line {
  border-color: #eee8d5;
}
.text .time {
  color: #586e75;
}
.line.event .time {
  color: #586e75;
}
.inlineimage {
  -webkit-box-shadow: 1px 1px 2px #888888;
}
.inlineimage:hover {
  -webkit-box-shadow: 3px 3px 4px #888888;
}
.sender[type=myself] {
  color: #586e75;
}
.sender[type=normal] {
  color: #586e75;
}
.avatar {
  -webkit-box-shadow: 1px 1px 3px #93a1a1;
}
.url {
  color: #859900;
}
.url:hover {
  color: #cb4b16;
}
.place {
  color: #586e75;
}
.event .url {
  color: rgba(88, 110, 117, 0.8);
}
.event .url:hover {
  color: rgba(88, 110, 117, 0.8);
}
.event .place {
  color: #268bd2;
}
.event[type] {
  background-color: #eee8d5;
  background-image: url(vicutake-solarized/static/images/or_light1.png);
  background-repeat: repeat-x;
  border-color: rgba(147, 161, 161, 0.4) rgba(147, 161, 161, 0.3) rgba(147, 161, 161, 0.3) rgba(147, 161, 161, 0.3);
  color: #859900;
  text-shadow: -1px -1px 0 rgba(147, 161, 161, 0.4);
  -webkit-box-shadow: 1px 2px 2px rgba(147, 161, 161, 0.4);
}
.event .message {
  color: #eee8d5;
}
.event:before {
  background-color: rgba(147, 161, 161, 0.1);
  background-image: url(vicutake-solarized/static/images/or_aqua1.png);
  background-repeat: repeat-x;
  border-right-color: rgba(147, 161, 161, 0.4);
}
.event[type="join"] .address {
  color: rgba(131, 148, 150, 0.7);
}
.event[type="system"] {
  background-image: url(vicutake-solarized/static/images/or_light2_check1.png);
}
.line[type="notice"] .message {
  color: #002b36;
}
.highlight {
  color: #d33682;
}
.line[highlight="true"] {
  background-color: #eee8d5;
}
.line[highlight="true"][alternate="even"] {
  border-color: #93a1a1;
}
.line[highlight="true"] .sender {
  background-color: #d33682;
  -webkit-box-shadow: 1px 1px 1px #eee8d5;
}
.line[highlight="true"] .sender {
  color: #93a1a1 !important;
}
body[type="console"] .event[type],
body[type="server"] .event[type] {
  background-image: none;
  border-color: rgba(147, 161, 161, 0.2) rgba(147, 161, 161, 0.3) rgba(147, 161, 161, 0.3) rgba(147, 161, 161, 0.3);
  text-shadow: 1px 1px 0 rgba(147, 161, 161, 0.4);
}
body[type="console"] .event[type]:before,
body[type="server"] .event[type]:before {
  background-image: url(vicutake-solarized/static/images/shadow.png);
  border-color: rgba(147, 161, 161, 0.6);
}
.message[type=system] {
  color: #859900;
}
.message[type=error] {
  color: #dc322f;
  font-weight: bold;
}
.message[type=reply] {
  color: #2aa198;
}
.message[type=error_reply] {
  color: #dc322f;
}
.message[type=dcc_send_send] {
  color: #2aa198;
}
.message[type=dcc_send_receive] {
  color: #6c71c4;
}
.message[type=notice] {
  color: #93a1a1;
}
.message[type=action] {
  color: #859900;
}
.message[type=join] {
  color: #859900;
}
.message[type=part] {
  color: #859900;
}
.message[type=kick] {
  color: #859900;
}
.message[type=quit] {
  color: #859900;
}
.message[type=kill] {
  color: #859900;
}
.message[type=nick] {
  color: #859900;
}
.message[type=mode] {
  color: #859900;
}
.message[type=topic] {
  color: #859900;
}
.message[type=invite] {
  color: #859900;
}
.message[type=wallops] {
  color: #859900;
}
.message[type=debug_send] {
  color: #93a1a1;
}
.message[type=debug_receive] {
  color: #93a1a1;
}
