body {
  font-family: 'Lucida Grande';
  font-size: @baseFontSize;
}

.line {
  line-height: 1.7;
}

.time {
  font-size: 7pt;
}

.place {
  font-size: 7.8pt;
}

.sender {
  line-height: 1.4;
  font-size: 7.8pt;
}

.message {
  &[type="notice"] {
    font-size: 8.8pt;
  }
}

.url {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.address {
  text-decoration: none;
  word-break: break-all;
}

.event {
  font-size: 8pt;
}

.highlight {
  font-weight: normal;
}

.line[highlight="true"] {
  .sender {
    font-weight: bold;
  }
}
