@base03:    #002b36;
@base02:    #073642;
@base01:    #586e75;
@base00:    #657b83;
@base0:     #839496;
@base1:     #93a1a1;
@base2:     #eee8d5;
@base3:     #fdf6e3;
@yellow:    #b58900;
@orange:    #cb4b16;
@red:       #dc322f;
@magenta:   #d33682;
@violet:    #6c71c4;
@blue:      #268bd2;
@cyan:      #2aa198;
@green:     #859900;

@black: #000;
@grayDarker: #222;
@grayDark: #333;
@grayDarkish: #444;
@gray: #555;
@grayLightish: #777;
@grayLight: #999;
@grayLighter: #ccc;
@grayLightest: #eee;
@grayShadow: #888;
@whitish: #efefef;
@white: #fff;

@baseFontSize: 9.3pt;

@redOrange: #c30;
@orangeLightest: #fff5cf;
@orangeWhite: #fff9f2;
@yellowLightest: #fff5cf;
@yellowWhite: #fffff4;
@magentaDark: #c90064;
@blueBackground: #95c2d5;
@blueBackgroundHighlight: #63b2dc;
@blueDarkest: #02111a;
@blueDarker: #00334f;
@blueDark: #0087c6;
@blueGray: #5151ca;
@blueLighter: #b3d1f5;
@blueWhite: #e7e9f0;
@greenWhite: #d5f8e1;
@skyblueBlack: #213342;
@skyblueDarker: #1F3135;
@skyblueLightest: #eaf2f9;
@skyblueWhite: #f7f9fc;

@animateImageExpansion: false;
@animateEnter: false;
@animateUrlExpansion: false;
@animateJoin: false;
@animateQuit: false;
@animateNick: false;
@animateCall: true;